<!DOCTYPE html>
<html>
<head>
	<title>payu home</title>
</head>
<body>
<h1>Hi I m a payment gateway</h1>
<a href="{% url 'payment' %}">Payment</a>


<!-- <script>
	function Payment(){
		$.ajax({
            type: "POST",
            url: "/questions/respond/",
            data: {
                'name': name,
                'email': email,
                'csrfmiddlewaretoken': csrf_token,
                'responses': JSON.stringify(responses)
            },
            success: success,
            error: failure,
            dataType: 'html'
        });


        function success(data) {
            let response = JSON.parse(data);
            if (response["result"] == 'done') {
                location.href = "/thanks";
            }
            console.log(relatedQuestions)

            renderQuestionnaire();

        }

        function failure(data, jqXHR) {
            var response = JSON.parse(data);
        }

	var RequestData = {
		key: 'MWEhWKLvfU',
		txnid: '123456789'
		hash: 'defdfaadgerhetiwer	er',
		amount: '1',
		firstname: 'Jaysinh',
		email: 'dummyemail@dummy.com',
		phone: '6111111111',
		productinfo: 'Bag',
		surl : 'https://sucess-url.in',
		furl: 'https://fail-url.in',
		// mode:'dropout'// non-mandatory for Customized Response Handling
	}
}
</script> -->
</body>
</html>